*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Verdana;
}

body{
    background-color: rgb(230, 230, 230);
    background-image: url(Image/bguniverse.gf.gif);
}

header{
    background-color: rgb(40, 1, 53);
    width: 100%;
    height: 150px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
    border-top: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

h2{
    text-shadow: 3px 3px rgb(255, 5, 72);
    font-size: 35px;
}
.title-header{
    padding: 30px 0px 0px 0px;
}

.container-images{
    position: absolute;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 11%;
    margin-top: -60px;
}

.images-anime1 img{
    width: 300px;
    height: 490px;
    padding: 2px;
    border-radius: 10px;
}

.images-anime2 img{
    width: 310px;
    height: 490px;
    padding: 2px;
    border-radius: 10px;
}

.images-anime3 img{
    width: 310px;
    height: 490px;
    padding: 2px 2px 2px 1px;
    border-radius: 10px;
}

.images-anime1, .images-anime2, .images-anime3{
    border: 2px solid rgb(0, 179, 255);
    border-radius: 10px;
    margin: 5px;
}

.gif{
    border-radius: 10px;
}

/* Configurando o hover */

.images-anime1 {
    position: relative;
  }
  
  .img {
    position: absolute;
  }
  
  #img1 {
    z-index: 1; /* Coloca a imagem 1 acima da imagem 2 */
  }
  
  #gif1 {
    z-index: 2; /* Coloca a imagem 2 acima da imagem 1 */
}
  
  /* Por padrão, ambas as imagens terão opacidade 1, ou seja, serão visíveis */
.img {
    opacity: 1; /* Adiciona uma transição suave para a mudança de opacidade */
  }
  
  /* Quando o mouse passa sobre o container, a primeira imagem desaparece e a segunda aparece */
  .images-anime1:hover #gif1 {
    opacity: 1;
  }
  
  .images-anime1:hover #img1 {
    opacity: 0;
    transition: 0.9s;
  }


  .images-anime2 {
    position: relative;

  }
  
  .img {
    position: absolute;
  }
  
  #img2 {
    z-index: 1; /* Coloca a imagem 1 acima da imagem 2 */
  }
  
  #gif2 {
    z-index: 2; /* Coloca a imagem 2 acima da imagem 1 */
}
  

  /* Por padrão, ambas as imagens terão opacidade 1, ou seja, serão visíveis */
.img {
    opacity: 1; /* Adiciona uma transição suave para a mudança de opacidade */
  }
  
  /* Quando o mouse passa sobre o container, a primeira imagem desaparece e a segunda aparece */
  .images-anime2:hover #gif2 {
    opacity: 1;
  }
  
  .images-anime2:hover #img2 {
    opacity: 0;
    transition: 0.9s;
  }

  .images-anime3 {
    position: relative;
  }
  
  .img {
    position: absolute;
  }
  
  #img3 {
    z-index: 1; /* Coloca a imagem 1 acima da imagem 2 */
  }
  
  #gif3 {
    z-index: 2; /* Coloca a imagem 2 acima da imagem 1 */
}
  
  /* Por padrão, ambas as imagens terão opacidade 1, ou seja, serão visíveis */
.img {
    opacity: 1; /* Adiciona uma transição suave para a mudança de opacidade */
  }
  
  /* Quando o mouse passa sobre o container, a primeira imagem desaparece e a segunda aparece */
  .images-anime3:hover #gif3 {
    opacity: 1;
  }
  
  .images-anime3:hover #img3 {
    opacity: 0;
    transition: 0.9s;
  }






/* Alterando as legendas das imagens */
#legend{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 39%;
    width: 68%;
    margin-left: 16%;
    font-family: Verdana;
    font-style: oblique;
}

.legend-anime{
    padding: 8px;
    background-color: rgb(91, 3, 121);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    font-weight: bold;
    text-shadow: 1px 1px rgb(0, 179, 255);
    outline: 2px solid rgb(255, 5, 72);
    outline-style: double;
}


/* Campos de texto para resumo dos animes */

/* Campo naruto */
#naruto-txt{
  background-color: rgb(40, 1, 53);
  position: absolute;
  margin-top: 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 200px;
  margin-left: 13%;
  border-radius: 20px;
  border-bottom: 8px solid rgb(0, 179, 255);
  border-right: 8px solid rgb(0, 179, 255);
}

.circle-naruto{
  background-image: url(Image/gif_resumo_naruto.gif);
  background-position: center;
  background-size: 134%;
  background-repeat: no-repeat;
  position: absolute;
  background-color: red;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-left: 20px;
  margin-top: 186px;
  outline: 3px solid rgb(255, 5, 72);
  outline-style: double;
  outline-width: 13px;
}



/* Campo One Piece */
#onepiece-txt{
  background-color: rgb(40, 1, 53);
  position: absolute;
  margin-top: 470px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 200px;
  margin-left: 13%;
  border-radius: 20px;
  border-bottom: 8px solid rgb(0, 179, 255);
  border-left: 8px solid rgb(0, 179, 255);
}

.circle-onepiece{
  background-image: url(Image/OnePieceGifPrincipal.gif);
  background-position: center;
  background-size: 180%;
  background-repeat: no-repeat;
  position: absolute;
  background-color: rgb(53, 236, 12);
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-left: 78%;
  margin-top: 442px;
  outline: 3px solid rgb(255, 5, 72);
  outline-style: double;
  outline-width: 13px;
}



/* Campo Attack On Titan */
#aot-txt{
  background-color: rgb(40, 1, 53);
  position: absolute;
  margin-top: 715px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 200px;
  margin-left: 13%;
  border-radius: 20px;
  border-bottom: 8px solid rgb(0, 179, 255);
  border-right: 8px solid rgb(0, 179, 255);
}

.circle-aot{
  background-image: url(Image/AttackOnTitan-Congratulations.gif);
  background-position: center;
  background-size: 115%;
  position: absolute;
  background-color: rgb(5, 192, 255);
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-left: 20px;
  margin-top: 695px;
  outline: 3px solid rgb(255, 5, 72);
  outline-style: double;
  outline-width: 13px;
}

.txt-resumo{
  background-color: rgba(161, 129, 171, 0.6);
  margin-top: 50px;
  width: 45%;
  height: 140px;
  margin-top: 1%;
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
}
.anime-resumo{
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: rgb(0, 179, 255);
  border-radius: 25px;
  border: 2px solid white;
}
.txt-bold{
  font-weight: bold;
  color: rgb(255, 5, 72);
  text-shadow: 2px 2px black;
}

footer{
  background-color: rgb(161, 129, 171);
  background-image: url(Image/animebackground2.jpg);
  background-position: center;
  margin-top: 90%;
  border-radius: 10px;
  width: 100%;
  height: 300px;
  border-top: 5px solid black;
}
.footer, h3{
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  text-shadow: 3px 3px rgb(40, 1, 53);
}

.by-contato, 
.by{
  color: red;
  font-size: 25px;
}

.by{
  position: absolute;
  margin-left: 25px;
  margin-bottom: 20px;
  text-align: left;
  text-shadow: 3px 3px rgb(75, 21, 94);
  font-weight: bold;
}

.by-contato{
  position: relative;
  margin-left: 120px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 3px 3px rgb(75, 21, 94);
  font-weight: bold;
}

.seta{
  color: rgb(255, 5, 72);
  text-shadow: 2px 2px black;
  font-weight: bold;
  padding: 10px;
}



#name-container{
  position: relative;
  height: 145px;
  width: 320px;
  margin-left: 15px;
}

.created-by{
  background-color: rgba(81, 201, 17, 0.5);
  border-radius: 20px;
  outline: 2px solid white;
  outline-style: double;
  outline-width: 5px;
  width: 300px;
  height: 120px;
  padding: 7px;
  text-align: center;
}

.by-name-container{
  margin-top: 15px;
}
.by-name{
  font-weight: bold;
  margin: 3px;
}
#in{
  margin-left: 5px;
}
#gs{
  margin-left: 0px;
}
#ds{
  margin-left: 33px;
}


.txt-copyr{
  font-family: Helvetica;
  font-weight: bold;
  background-color: rgb(0, 179, 255);
  margin-top: 30px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

#line-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 0px;
  margin-left: 43%;
  margin-right: 40%;
  margin-top: -147px;
  outline: 2px solid rgba(255, 5, 72, 0.7);
}

.email-footer{
  position: absolute;
  margin-left: 40%;
  margin-top: -140px;
}

.email-footer ul li{
  font-family: Helvetica;
  list-style-type: circle;
  padding: 6px;
  border-radius: 10px;
  border: 2px solid white;
}

.list{
  font-size: 15px;
  margin: 5px;
  background-color: rgba(40, 1, 53, 0.9);
}

#container-principal-footer{
  position: absolute;
  margin-top: 15px;
  width: 100%;
  height: 275px;
}

#all-dados-footer{
  margin-left: 20%;
  
}



/* Responsividade: Pagina Inicial */

/* Tags Media para responsividade

#media-topo
#media-img-animes
#media-legend-anime
#media-txt-resumo
#media-footer
 */


@media (max-width: 1366px) {
  #media-topo{

  }
  #media-img-animes{

  }
  #media-legend-anime{

  }
  #media-txt-resumo{

  }
  #media-footer{

  }
  
}


@media (max-width: 1024px) {
  #media-topo{

  }
  #media-img-animes{

  }
  #media-legend-anime{

  }
  #media-txt-resumo{

  }
  #media-footer{
    
  }

}


@media (max-width: 768px) {
  #media-topo{
    width: 132%;
    height: auto;
    display: block;
  }
  
  #container-animes{
    margin-right: -700px;
  }
  .container-images{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 55%;
  }


  .images-anime1, .images-anime2, .images-anime3{
    margin-bottom: 25px;
  }

  #media-img-animes{
    max-width: 100%;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #media-legend-anime{
    display: none;
  }

  /* Propriedades do campo dos textos */
  #naruto-txt, #onepiece-txt, #aot-txt{
    margin-bottom: 270px;
    max-width: 100%;
    height: auto;
  }

  /* Propriedades do campo dos textos */
  #naruto-txt{
    margin-top: 280px;
    margin-left: 53%;
  }
  #onepiece-txt{
    margin-top: 750px;
    margin-right: 26%;
  }
  #aot-txt{
    margin-top: 1200px;
    margin-left: 53%;
  }

  /* Propriedades do campo dos textos -> Container Principal */
  #media-txt-resumo{
    margin-top: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Propriedade dos circulos */
  .circle-naruto, .circle-onepiece, .circle-aot{
    margin-top: 50%;
    width: 40%;
    height: 20%;

  }

  /* Propriedade dos circulos */
  .circle-naruto{
    margin-top: 20px;
    margin-right: 40%;
  }
  .circle-onepiece{
    margin-top: 100%;
    margin-right: 3px;
  }
  .circle-aot{
    margin-top: 195%;
    margin-right: 40%;
  }

  #media-txt-resumo .circle-naruto, .circle-onepiece, .circle-aot{
    display: block;
  }

  /* Propriedades do container de texto de resumo dos animes */
  .txt-resumo h2{
    font-size: 11px;
    text-shadow: 0px 0px;
    text-align: center;
  }
  .txt-resumo p{
    font-size: 13px;
    text-shadow: 0px 0px;
    text-align: center;
  }
  /* Container principal dos textos */
  .txt-resumo{
    height: 150px;
    width: 50%;
  }


  /* Propriedades do footer */
  #media-footer{
    margin-top: 150%;
    display: block;
    width: 120%;
  }
  #footer-titulos{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;


  }
  #footer-titulos p{
    position: relative;
    font-size: 20px;
    text-shadow: 0px 0px;
  }
  .by{
    text-align: left;
  }
  .by-contato{
    display: none;
  }

  .email-footer{
    display: none;
  }
  .separador.line, #line-footer{
    display: none;
  }

  .txt-copyr{
    width: 100%;
  }

  #container-principal-footer, #copyright{
    width: 120%;
  }

}












@media screen and (max-width: 480px){

  #media-topo{
    width: 132%;
    height: auto;
    display: block;
  }
  
  #container-animes{
    margin-right: -300px;
  }
  .container-images{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 55%;
  }

  .images-anime1, .images-anime2, .images-anime3{
    margin-bottom: 25px;
  }

  #media-img-animes{
    max-width: 100%;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #media-legend-anime{
    display: none;
  }

  /* Propriedades do campo dos textos */
  #naruto-txt, #onepiece-txt, #aot-txt{
    margin-bottom: 270px;
    max-width: 100%;
    height: auto;
  }

  /* Propriedades do campo dos textos */
  #naruto-txt{
    margin-top: 280px;
    margin-left: 53%;
  }
  #onepiece-txt{
    margin-top: 750px;
    margin-right: 26%;
  }
  #aot-txt{
    margin-top: 1200px;
    margin-left: 53%;
  }

  /* Propriedades do campo dos textos -> Container Principal */
  #media-txt-resumo{
    margin-top: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Propriedade dos circulos */
  .circle-naruto, .circle-onepiece, .circle-aot{
    margin-top: 50%;
    width: 40%;
    height: 20%;

  }

  /* Propriedade dos circulos */
  .circle-naruto{
    margin-top: 20px;
    margin-right: 40%;
  }
  .circle-onepiece{
    margin-top: 100%;
    margin-right: 3px;
  }
  .circle-aot{
    margin-top: 195%;
    margin-right: 40%;
  }

  #media-txt-resumo .circle-naruto, .circle-onepiece, .circle-aot{
    display: block;
  }


  /* Propriedades do container de texto de resumo dos animes */
  .txt-resumo h2{
    font-size: 11px;
    text-shadow: 0px 0px;
    text-align: center;
  }
  .txt-resumo p{
    font-size: 13px;
    text-shadow: 0px 0px;
    text-align: center;
  }
  /* Container principal dos textos */
  .txt-resumo{
    height: 150px;
    width: 50%;
  }


  /* Propriedades do footer */
  #media-footer{
    margin-top: 150%;
    display: block;
    width: 120%;
  }
  #footer-titulos{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;


  }
  #footer-titulos p{
    position: relative;
    font-size: 20px;
    text-shadow: 0px 0px;
  }
  .by{
    text-align: left;
  }
  .by-contato{
    display: none;
  }

  .email-footer{
    display: none;
  }
  .separador.line, #line-footer{
    display: none;
  }

  .txt-copyr{
    width: 100%;
  }

  #container-principal-footer, #copyright{
    width: 120%;
  }
}
 











